$primaryColor: #4527a4;

// Common CSS
html {
	scroll-behavior: smooth;
}

.wp-block-ifm-iframe { 
	position: relative;
	display: flex;
	justify-content: center;
	.mouse{
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 5;
	}
	.ifmIframe {
		position: relative;
		// background-color: #f0f0f0;
		// padding: 15px;
	}
	&:fullscreen .ifmIframemain,
	&:fullscreen .ifmIframe {
		height: 100%;
	}

	.fullScreenBtn {
		position: absolute;
		bottom: 16px;
		right: 5px;
		transform: translateX(-50%);
		padding: 6px 6px 4px 6px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}
